fractalia_sms:
    envio_sms:
#        DATOS DE LA API para envio SMS
        api:
            url: 'https://www.mensajerianegocios.movistar.es/SrvConexion'
            apiuser: 'SMS_SDESK'
            apipass: 'tc3kGc'
            remitente: '217812'
            
        grupo_destino:
            - { destinatario: RAZ, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 00:00, hasta: 23:59 }
#            - { destinatario: BEGO, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 00:00, hasta: 23:59 }
#                GRUPOS DE PRODUCCION ¡¡¡CUIDADO!!!
#            - { destinatario: ESCALADO, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 00:00, hasta: 23:59 }
#            - { destinatario: SOPORTE, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 23:00, hasta: 07:00 }
            
#       NO IMPLEMENTADO FALTA IMPLEMENTAR METODOS PARA MANEJAR LA API DE TELEFONICA
        numero_destino:
#            - { destinatario: 6XXXXXXXX, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 00:00, hasta: 23:59 } 
        
#        FILTRO PRINCIPAL    
        servicios_soc:
            - SEGEST MON
            - SEGEST SOC
            - SEG MERCEDES
            - SOPORTE SEGURIDAD
            - SOC SEGURIDAD
            - SEGEST MONOCLIENTE

#       Traducciones
#       Apartir de la VERSION 1.4 nombres cortos y tsol_guardia se dejan en el fichero de configuración para setear el campo por defecto. 
#       En la version 1.4 la gestion de ambos items en a traves de la web
#       Para agregar y remplazar en el campo nombre de clientes
        nombres_cortos: 
            - NOMBRECORTODEF

#        Traduccion del tipo de caso
        traduccion_tipo_caso: 
            1: incidencia
            2: peticion
            3: queja
            4: consulta 

        #Para rellenar la información del TSOL de guardia
        tsol_guardia:
            nombre: TSOLDEF
        #PRIORIDADES ANTES DE ENTRAR A LOS FILTROS
        #DEBEN AÑADIRSE LAS PRIORIDADES Y AÑADIRSE LAS PLANTILLAS PARA ESAS PRIORIDADES
        prioridades:
            - CRITICA
            
#     FILTROS PARA LOS  EVENTOS A MONITORIZAR
    eventos:
#       CADA EVENTO DEBE COINCIDIR CON LA PLANTILLA
#       EJEMPLO EVENTO RESOLUCION ESTADO RESUELTO dentro del filtro 
#       DEBE EXISTIR PLANTILLA RESOLUCION EN LAS PLANTILLAs

        RESOLUCION:
            tipo_accion:
            prioridad:
                - CRITICA
            #ESTADO del EVENTO como KEY los valores son los sinonimos del estado
            estado:
                RESUELTO:
                    - RESOLVED
            grupo_origen_IN:
            grupo_origen_NOT:
            grupo_destino_IN:
            grupo_destino_NOT:
            filtro_titulo:
            filtro_titulo_NOT:
                - AS
                - AC
            tecnico_inicial:
            tecnico_final:

#        MODIFICACION:
#            tipo_accion:
#            prioridad:
#                - CRITICA
#            estado:
#                MODIFICADO:
#                    - OPEN
#                    - STOPPED
#                    - CLOSED
#            grupo_origen_IN:
#            grupo_origen_NOT:
#              - SOC SEGURIDAD
#            grupo_destino_IN:
#            grupo_destino_NOT:
#            filtro_titulo:
#            filtro_titulo_NOT:
#            tecnico_inicial:
#            tecnico_final:

#        ASIGNACION:
#            tipo_accion:
#            prioridad:
#                - CRITICA
#            estado:
#                ASIGNADO:
#                    - WORK IN PROGRESS
#            grupo_origen_IN:
#            grupo_origen_NOT:
#            grupo_destino_IN:
#              - SOPORTE SEGURIDAD
#              - SEGEST SOC
#              - SEG MERCEDES
#              - SEGEST MON
#            grupo_destino_NOT:
#            filtro_titulo:
#            filtro_titulo_NOT:
#            tecnico_inicial:
#            tecnico_final:

        MODIFICACION_CON_USUARIO:
            tipo_accion:
            prioridad:
                - CRITICA
            estado:
                MODIFICADO:
                    - OPEN
                    - SUSPENDED
                    - CLOSED
            grupo_origen_IN:
            grupo_origen_NOT:
              - SOC SEGURIDAD
            grupo_destino_IN:
              - SOPORTE SEGURIDAD
              - SEGEST MONOCLIENTE
            grupo_destino_NOT:
            filtro_titulo:
            filtro_titulo_NOT:
                - AS
                - AC
            tecnico_inicial:
            tecnico_final:
                - DNX3042
                - DNX3073
                - DNX3075
                - DNX3321
                - DNX3328
                - DNX3332
                - DNX3338
                - DNX3436
                - DNX3479
                - DSX2628
                - DSX4474
                - DSX4928
                - DSX4954
                - DSX5408
                - DSX5728
                - DSX5740
                - DSX5741
                - DSX5927
                - DSX6185
                - DSX6193
                - DSX6232
                - DSX6279
                - DSX6378
                - DSX6427
                - DSX6428
                - DSX6772
                - DSX6801
                - DSX6806
                - DSX6822
                - DSX6824
                - DSX6856
                - DSX6866
                - DSX7004
                - DSX7008
                - DSX7011
                - FICTICIO1
                - DNX0546
                - DSX2283
                - DSX3149
                - DSX5441
                - DSX5525
                - DSX5563
                - DSX5594
                - DSX5640
                - DSX6003
                - DSX6161
                - DSX6320
                - DSX6444
                - DSX6823
                - DSX6991
           
        MODIFICACION_SIN_USUARIO:
            tipo_accion:
            prioridad:
                - CRITICA
            estado:
                MODIFICADO:
                    - OPEN
                    - SUSPENDED
                    - CLOSED
            grupo_origen_IN:
            grupo_origen_NOT:
              - SOC SEGURIDAD
            grupo_destino_IN:
              - SEGEST MON
              - SEGEST SOC
              - SEG MERCEDES
            grupo_destino_NOT:
            filtro_titulo:
            filtro_titulo_NOT:
                - AS
                - AC
            tecnico_inicial:
            tecnico_final:

        ASIGNACION_CON_USUARIO:
            tipo_accion:
            prioridad:
                - CRITICA
            estado:
                ASIGNADO:
                    - WORK IN PROGRESS
            grupo_origen_IN:
            grupo_origen_NOT:
            grupo_destino_IN:
              - SOPORTE SEGURIDAD
              - SEGEST MONOCLIENTE
              - SEGEST MON
              - SEGEST SOC
              - SEG MERCEDES
            grupo_destino_NOT:
            filtro_titulo:
            filtro_titulo_NOT:
                - AS
                - AC
            tecnico_inicial:
            tecnico_final:
                - DNX3042
                - DNX3073
                - DNX3075
                - DNX3321
                - DNX3328
                - DNX3332
                - DNX3338
                - DNX3436
                - DNX3479
                - DSX2628
                - DSX4474
                - DSX4928
                - DSX4954
                - DSX5408
                - DSX5728
                - DSX5740
                - DSX5741
                - DSX5927
                - DSX6185
                - DSX6193
                - DSX6232
                - DSX6279
                - DSX6378
                - DSX6427
                - DSX6428
                - DSX6772
                - DSX6801
                - DSX6806
                - DSX6822
                - DSX6824
                - DSX6856
                - DSX6866
                - DSX7004
                - DSX7008
                - DSX7011
                - FICTICIO1
                - DNX0546
                - DSX2283
                - DSX3149
                - DSX5441
                - DSX5525
                - DSX5563
                - DSX5594
                - DSX5640
                - DSX6003
                - DSX6161
                - DSX6320
                - DSX6444
                - DSX6823
                - DSX6991
                - DNX3468
                - DNX1425
                - DNX2415
                - T070369
                - T072476
                - T080351
                - T096833
                - T100151
                - T101189
                - T104850
                - T116002
                - T116017
                - T121012
                - T121389
                - T122597
                - T125075
                - T125102
                - T125120
                - T125762
                - T126316
                - T126334
                - T126490
                - T130668
                - T132016
                - T132022
                - T132608
                - T134080
                - T138889
                - T139315
                - T142615
                - T142619
                - T148059
                - T148112
                - T148129
                - T148216
                - T148218
                - T148680
                - T148696
                - T148709
                - T148710
                - T148711
                - T148725
                - T148737
                - T148740
                - T148742
                - T148754
                - T148759
                - T148762
                - T148932
                - WT1603
                - WT1604
                - DN10582
                - DS01833
                - DS01974
                - DS01977
                - DSX4523
                - DSX4646
                - DSX5731
                - DSX6163
                - DSX6164
                - DSX6168
                - DSX6169
                - DSX6170
                - DSX6176
                - DSX6177
                - DSX6205
                - DSX6226
                - DSX6244
                - DSX6367
                - DSX6368
                - DSX6468
                - DSX6762
                - DSX6800
                - DSX6808
                - DSX6825
                - DSX6829
                - DSX6844
                - DSX6867
                - DSX6964
                - SCFG0002
                - TFX0230
                - UT05341
                - UT4795

        ASIGNACION_SIN_USUARIO:
            tipo_accion:
            prioridad:
                - CRITICA
            estado:
                ASIGNADO:
                    - WORK IN PROGRESS
            grupo_origen_IN:
            grupo_origen_NOT:
            grupo_destino_IN:
              - SEGEST MON
              - SEGEST SOC
              - SEG MERCEDES
            grupo_destino_NOT:
            filtro_titulo:
            filtro_titulo_NOT:
                - AS
                - AC
            tecnico_inicial:
            tecnico_final:

        ALARMA:
            tipo_accion:
            prioridad:
                - CRITICA
            estado:
                ASIGNADO:
                    - OPEN
                    - WORK IN PROGRESS
            grupo_origen_IN:
            grupo_origen_NOT:
            grupo_destino_IN:
              - SOPORTE SEGURIDAD
              - SEGEST SOC
              - SEG MERCEDES
              - SEGEST MON
              - SEGEST MONOCLIENTE
            grupo_destino_NOT:
            filtro_titulo:
                - AS
                - AC
            filtro_titulo_NOT:
            tecnico_inicial:
            tecnico_final:

#    ETIQUETAS PARA LAS PLANTILLAS y estados ademas para los resumenes
    plantillas:
        RESOLUCION:
            id: 'RESUELTO ID: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESOLUCION: '

#        MODIFICACION:
#            id: 'REPRIORIZACION ID: '
#            cliente: 'CLIENTE: '
#            tipo: 'TIPO: '
#            tecnico: 'TECNICO: '
#            tsol: 'TSOL: '
#            fecha: 'FECHA: '
#            modo: 'MODO RECEPCION: '
#            detalle: 'RESUMEN: '
#        ASIGNACION:
#            id: 'ID: '
#            cliente: 'CLIENTE: '
#            tipo: 'TIPO: '
#            tecnico: 'TECNICO: '
#            tsol: 'TSOL: '
#            fecha: 'FECHA: '
#            modo: 'MODO RECEPCION: '
#            detalle: 'RESUMEN: '

        MODIFICACION_CON_USUARIO:
            id: 'REPRIORIZACION ID: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESUMEN: '
        MODIFICACION_SIN_USUARIO:
            id: 'REPRIORIZACION ID: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESUMEN: '
        ASIGNACION_CON_USUARIO:
            id: 'ID: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESUMEN: '
        ASIGNACION_SIN_USUARIO:
            id: 'ID: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESUMEN: '
        ALARMA:
            id: 'ALARMA: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESUMEN: '
            
    resumenes:
        RESUMEN:
            titulo: 'PENDIENTES '
            estados: 
                - 'Open'
                - 'Work in Progress'
                - 'Suspended'
