fractalia_sms:
    envio_sms:
#        DATOS DE LA API para envio SMS
        api:
            url: 'https://www.mensajerianegocios.movistar.es/SrvConexion'
            apiuser: 'SMS_SDESK'
            apipass: 'tc3kGc'
            remitente: '217812'
            
        grupo_destino:
            - { destinatario: RAZ, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 00:00, hasta: 23:59 }
#            - { destinatario: BEGO, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 00:00, hasta: 23:59 }
#                GRUPOS DE PRODUCCION ¡¡¡CUIDADO!!!
#            - { destinatario: ESCALADO, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 00:00, hasta: 23:59 }
#            - { destinatario: SOPORTE, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 23:00, hasta: 07:00 }
            
#       NO IMPLEMENTADO FALTA IMPLEMENTAR METODOS PARA MANEJAR LA API DE TELEFONICA
        numero_destino:
#            - { destinatario: 6XXXXXXXX, dias: 'lunes, martes, miercoles, jueves, viernes, sabado, domingo', desde: 00:00, hasta: 23:59 } 
        
#        FILTRO PRINCIPAL    
        servicios_soc:
            - SEGEST MON
            - SEGEST SOC
            - SEG MERCEDES
            - SOPORTE SEGURIDAD
            - SOC SEGURIDAD

#       Traducciones
#       Apartir de la VERSION 1.4 nombres cortos y tsol_guardia se dejan en el fichero de configuración para setear el campo por defecto. 
#       En la version 1.4 la gestion de ambos items en a traves de la web
#       Para agregar y remplazar en el campo nombre de clientes
        nombres_cortos: 
            - NOMBRECORTODEF

#        Traduccion del tipo de caso
        traduccion_tipo_caso: 
            1: incidencia
            2: peticion
            3: queja
            4: consulta 

        #Para rellenar la información del TSOL de guardia
        tsol_guardia:
            nombre: TSOLDEF
            
#     FILTROS PARA LOS  EVENTOS A MONITORIZAR
    eventos:
#       CADA EVENTO DEBE COINCIDIR CON LA PLANTILLA
#       EJEMPLO EVENTO RESOLUCION ESTADO RESUELTO dentro del filtro 
#       DEBE EXISTIR PLANTILLA RESOLUCION EN LAS PLANTILLAs
#       EVENTO RESOLUCION
        RESOLUCION:
            prioridad:
                - CRITICA
            #ESTADO del EVENTO como KEY los valores son los sinonimos del estado
            estado:
                RESUELTO:
                    - RESUELTO
                    - RESOLVED
            grupo_origen_IN:
            grupo_origen_NOT:
            grupo_destino_IN:
            grupo_destino_NOT:
            filtro_titulo:
            filtro_titulo_NOT:
            tecnico_inicial:
            tecnico_final:

        MODIFICACION:
            prioridad:
                - CRITICA
            estado:
                MODIFICADO:
                    - OPEN
                    - STOPPED
                    - CLOSED
            grupo_origen_IN:
            grupo_origen_NOT:
              - SOC SEGURIDAD
            grupo_destino_IN:
            grupo_destino_NOT:
            filtro_titulo:
            filtro_titulo_NOT:
            tecnico_inicial:
            tecnico_final:

        ALARMA:
            prioridad:
                - CRITICA
            estado:
                ASIGNADO:
                    - WORK IN PROGRESS
            grupo_origen_IN:
            grupo_origen_NOT:
            grupo_destino_IN:
              - SOPORTE SEGURIDAD
              - SEGEST SOC
              - SEG MERCEDES
              - SEGEST MON
            grupo_destino_NOT:
            filtro_titulo:
                - AS
                - AC
            filtro_titulo_NOT:
            tecnico_inicial:
            tecnico_final:
#       EVENTO ASIGNACION                
        ASIGNACION:
            prioridad:
                - CRITICA
            estado:
                ASIGNADO:
                    - WORK IN PROGRESS
            grupo_origen_IN:
            grupo_origen_NOT:
            grupo_destino_IN:
              - SOPORTE SEGURIDAD
              - SEGEST SOC
              - SEG MERCEDES
              - SEGEST MON
            grupo_destino_NOT:
            filtro_titulo:
            filtro_titulo_NOT:
            tecnico_inicial:
            tecnico_final:



#    ETIQUETAS PARA LAS PLANTILLAS y estados ademas para los resumenes
    plantillas:
        RESOLUCION:
            id: 'RESUELTO ID: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESOLUCION: '
        MODIFICACION:
            id: 'REPRIORIZACION ID: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESUMEN: '
        ASIGNACION:
            id: 'ID: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESUMEN: '
        ALARMA:
            id: 'ALARMA: '
            cliente: 'CLIENTE: '
            tipo: 'TIPO: '
            tecnico: 'TECNICO: '
            tsol: 'TSOL: '
            fecha: 'FECHA: '
            modo: 'MODO RECEPCION: '
            detalle: 'RESUMEN: '
            
    resumenes:
        RESUMEN:
            titulo: 'PENDIENTES '
            estados: 
                - 'Open'
                - 'Work in Progress'
                - 'Suspended'