{% extends 'Pi2FracSGSDWebMonitorBundle::layout.html.twig' %}

{% block contenido %}

<form id="form_servicios" action="{{ path('pi2_frac_sgsd_web_monitor_homepage') }}" method="post">

        {{ form_widget(formServicios.servicioAfectado) }}

        {{ form_widget(formServicios.buscar, { 'attr': {'class': 'link-button-gray'} }) }}

        {{ form_rest(formServicios) }}

</form>

{% endblock %}
